//header parent{ display: flex; justify-content: center; }

@mixin header {
    display: flex;
  
    flex-direction: column;
    align-items: flex-start;
  
    font-size: $font-huge;
    font-weight: 900;
    letter-spacing: 4px;
  
    &::before {
      color: $grey-light-2;
      font-size: $font-reg;
      font-family: 'La Belle Aurore', cursive;
    }
    &::after {
      color: $grey-light-2;
      font-size: $font-reg;
      font-family: 'La Belle Aurore', cursive;
    }
  
    &__text {
      font-size: $font-huge;
      font-weight: 900;
      letter-spacing: 3px;
    }
  }
  //for use
  // .className{ @include mixinName}
  //example =>  .header-text{ @include header }
  
  @mixin tag-before {
    &::before {
      font-family: 'La Belle Aurore', cursive;
      color: $grey-light-2;
      font-size: $font-reg;
    }
  }
  @mixin tag-after {
    &::after {
      font-family: 'La Belle Aurore', cursive;
      color: $grey-light-2;
      font-size: $font-reg;
    }
  }
  
  @mixin lastChildLeft {
    & > span:last-child {
      margin-left: 2rem;
    }
  }
  @mixin lastChildRight {
    & > span:last-child {
      margin-right: 2rem;
    }
  }
  
  @mixin lastChildTop {
    & > span:last-child {
      margin-top: 2rem;
    }
  }
  @mixin lastChildBottom {
    & > span:last-child {
      margin-bottom: 2rem;
    }
  }
  
  @mixin firstChildLeft {
    & > span:first-child {
      margin-left: 2rem;
    }
  }
  @mixin firstChildRight {
    & > span:first-child {
      margin-right: 2rem;
    }
  }
  
  @mixin firstChildTop {
    & > span:first-child {
      margin-top: 2rem;
    }
  }
  @mixin firstChildBottom {
    & > span:first-child {
      margin-bottom: 2rem;
    }
  }
  ////////////////////MEDIA QUERY/////////////////////////
  //0-600px phone || 37.5 em
  //600-900px tablet-portrait || 56.25em
  //900-1200px tablet-landscape || 75em
  //1200-1800px DTop || 112.5em
  //1800++ big DTop (me =))
  
  @mixin respond($breakpoint) {
    @if $breakpoint == desktop {
      @media (max-width: 112.5em) {
        @content;
      }
    } @else if $breakpoint == tab-land {
      @media (max-width: 75em) {
        @content;
      }
    } @else if $breakpoint == tab-port {
      @media (max-width: 56.25em) {
        @content;
      }
    } @else if $breakpoint == phone {
      @media (max-width: 37.5em) {
        @content;
      }
    }
  }
  