::-webkit-scrollbar {
    width: 1.3em;
  }
  ::-webkit-scrollbar-track {
    background: $yellow;
  }
  ::-webkit-scrollbar-thumb {
    background: $purple;
    border-radius: 100vw;
    border: 0.25em $yellow solid;
  }
  